html, body {
    font-family: 'Montserrat', sant-serif;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    font-size: 18px;
    line-height: 28px;
}

section {
    margin-bottom: 85px;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 100px;
    margin: 0 auto;
}

.header {
    padding: 50px 0;
    background-color: #424A57;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex-shrink: 0;
    display: block;
}

.header__menu-list {
    display: flex;
}

.header__menu-link {
    margin-left: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #E1E1E1;
    text-decoration: none;
    transition: color 0.15s;
}

.header__menu-link:hover {
    color: #0096A7;
}